.chat {
    margin: 20px;
}

// .example-container {
// display: flex;
// flex-direction: column;
// }

.submitButton {
    width: 20px;
    margin: 10px;
}

.requestarea {
    margin: 10px;
    width: 70%;
}

.responsearea {
    margin: 10px;
    width: 70%;
    height: 500px;
}

.markdownArea {
    display: block;
    float: left;
    padding: 10px;
}